#login-form {
    border: 1px solid #2d4254;
    background-color: #b90748;
}
#login-form .lost_password a, a:link, a:visited {
color: #dddddd;
text-decoration: none;

}
#login-form .lost_password a:hover, a:active {
color: #dddddd;
text-decoration: underline;
}
.burger .one, burger .two, burger .three {
background: #b90748;
}